<div class="ui one column grid">
  <div class="column">
    <div class="ui segment">
      <h4 class="ui top attached header">
        جام جهانی 2014 برزیل
      </h4>

      <div class="ui segment attached des">
        <h4 class="ui header">
          <%= image_tag '/images/world_cup.jpg', class: 'ui medium right floated image' %>
          تاریخچه
        </h4>

        <p>
          جام جهانی فیفا (که همچنین با نام جام جهانی فوتبال و یا بطور خلاصه، با نام جام جهانی شناخته می‌شود)، مسابقات
          حرفه‌ای فوتبال است که در ردهٔ مردان و بین اعضای فدراسیون بین‌المللی فوتبال(فیفا) برگزار می‌شود. این مسابقات از
          سال ۱۹۳۰ بطور مرتب و هر ۴ سال یکبار برگزار می‌شود و تنها در سال‌های ۱۹۴۲ و ۱۹۴۶ و به علت جنگ جهانی دوم برگزار
          نشده‌است. قهرمان فعلی این مسابقات، کشور اسپانیاست که در مسابقات سال ۲۰۱۰ قهرمان شد.
        </p>

        <p>
          در حال حاضر، مسابقات در طی نزدیک به یک ماه و با حضور ۳۲ تیم بعلاوه کشور (های) میزبان برگزار می‌شود که به این
          مرحله از مسابقات، معمولاً مرحلهٔ نهایی جام جهانی گفته می‌شود. تیم‌ها برای ورود به مرحله نهایی جام، در طی ۳ سال
          قبل از آغاز آن، تلاش کرده و در نهایت به همراه کشور (های) میزبان در این مسابقات حضور پیدا می‌کنند.

          تاکنون ۱۹ جام جهانی برگزار شده‌است و تنها ۸ کشور موفق به فتح این مسابقات شدند که کشور برزیل با ۵ قهرمانی،
          پرافتخارترین تیم این رقابت هاست. همچنین برزیلی‌ها تنها تیم در دنیا هستند که در تمام ۱۹ دوره رقابت‌ها حضور
          داشتند. ایتالیا با چهار قهرمانی، دومین تیم پرافتخار دنیاست و آلمان با ۳ قهرمانی، اوروگوئه و آرژانتین با ۲
          قهرمانی و کشورهای انگلستان، فرانسه و اسپانیا ۶ کشور دیگری هستند که تجربهٔ کسب عنوان قهرمانی را دارند.
        </p>

        <p>در این سایت می توانید نتایج و زمان بازی های جام جهانی 2014 برزیل را مشاهده کنید.</p>
        <h4 class="ui header">
          تیم های شرکت کننده در جام جهانی
        </h4>

        <div class="ui eight column grid">
          <%= @teams['name'].each do |name| %>
              <div class="column">
                <div class="ui segment teams">
                  <%= image_tag "/images/flags/#{name}.png", class: 'ui big avatar image' %>
                  <%= I18n.t(:"country.#{name}") %>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

