<div class="ui items">
  <% @posts.each do |post| %>
    <div class="item">
      <div class="content">
      <div class="name"><h4><%= link_to post.title, post %></h4></div>
      <p class="description">
        <%= sanitize(post.body, :tags => []).truncate(250, :separator => " ").html_safe %>
      </p>
      </div>
        <div class='general-link'>
          <%= link_to 'ادامه مطلب', post, class: 'ui label' %>
        </div>
    </div>
  <% end %>
</div>  
<% if current_user.admin? %>
  <%= link_to I18n.t(:'posts.new_post'), new_post_path, class: 'ui small blue button' %>
<% end %>
