<div class="ui one column grid about">
  <div class="column">
    <div class="ui segment">
      <h4 class="ui top attached header">
        About us
      </h4>
      <div class="ui segment attached">
        <h3 class="header">Ruby and me</h3>
        <p>
          I love Ruby and it is a go-to language to build web applications. This programming language is the turning point in my life as a developer. I love to experience new things in my career so I went to work with Ruby. Ruby taught me something new. Meet new programming techniques, new software, and I learned a lot from other people's source code in open source world.
          Ruby on Rails is the powerful framework for web development.
        </p>

        <h3 class="header">Skills</h3>
        <p>
          Developing software by Delphi and C# for windows and Ruby on Rails for web.
          Strong accomplished Ruby on Rails Development experience
          Extensive experience in web application development
          Good expertise in using Ruby/Rails in a production UNIX/LINUX environment
          Thorough knowledge of the Ruby language and Ruby on Rails framework
          Outstanding knowledge of SQL in PostgreSQL, MySQL and SQL Server
          Amazing ability to work on a very technical team who have deep knowledge of UNIX/LINUX, Ruby, Rails, SQL, Delphi, C#
          Writing plugin for Redmine(is a flexible project management web application. Written using the Ruby on Rails framework,
          it is cross-platform and cross-database.) by using patching and extending model and controller and change views by deface library.
        </p>
      </div>

    </div>
  </div>
</div>