<div class="ui green inverted menu">

  <%= link_to "#{I18n.t(:'menu.main')}<i class='home icon' ></i>".html_safe, '/home/index',
               class: (params[:controller] == 'home') ? 'active item' : 'item' %>

  <%= link_to "#{I18n.t(:'menu.world_cup')}<i class='calendar icon' ></i>".html_safe, '/world_cup/index',
              class: (params[:controller] == 'world_cup') ? 'active item' : 'item' %>

  <%= link_to "#{I18n.t(:'menu.about')}<i class='info icon' ></i>".html_safe, '/about/index',
              class: (params[:controller] == 'about') ? 'active item' : 'item' %>

</div>